<div class="padded">
        <mat-card layout-align="center center" class="form-card">
            <mat-card-header>
                <mat-card-title>
                    Registration Form 
                    <span class="column">
                        <mat-radio-group name="accountType" [(ngModel)]="accountType">
                            <mat-radio-button value="Farmer">Farmer</mat-radio-button>
                            <mat-radio-button value="Admin">Irrigator</mat-radio-button>
                        </mat-radio-group>
                    </span>
                </mat-card-title>
            </mat-card-header>
    
        <form (submit)="onRegisterSubmit()">
            <mat-card-content>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="mobile" name="mobile" class="form-control" id="mobile" placeholder="Enter Mobile Number">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="doorNo" name="doorNo" class="form-control" id="doorNo" placeholder="Door No">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="streetName" name="streetName" class="form-control" id="streetName" placeholder="Street Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="village" name="village" class="form-control" id="village" placeholder="Village Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="taluk" name="taluk" class="form-control" id="taluk" placeholder="Taluk Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="district" name="district" class="form-control" id="district" placeholder="District Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="state" name="state" class="form-control" id="state" placeholder="State Name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="pincode" name="pincode" class="form-control" id="pincode" placeholder="Pin Code">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="fieldNo" name="fieldNo" class="form-control" id="fieldno" placeholder="Field no">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="fieldSize" name="fieldSize" class="form-control" id="feildsize" placeholder="feildsize in acre">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter UserName">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="text" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter E-Mail">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="reg-full-width">
                    <input matInput type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter Password">
                </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button class="button" type="submit">Register</button>
          </mat-card-actions>
        </form>
        </mat-card>
        </div>
    