<div class="padded">
  <h2 class="page-header">Farming Details</h2>
  <mat-card layout-align="center center" class="form-card">
      <mat-card-header>
          <mat-card-title>Crop Yeild Form</mat-card-title>
      </mat-card-header>

  <form (submit)="onFarmSubmit()">
      <mat-card-content>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="cropName" name="cropName" class="form-control" id="cropName" placeholder="Enter Crop Name">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="cultiArea" name="cultiArea" class="form-control" id="cultiArea" placeholder="Cultivated Area (in sq.ft)">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="fertilizer" name="fertilizer" class="form-control" id="fertilizer" placeholder="Fertilizer Used">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="insecti" name="insecti" class="form-control" id="insecti" placeholder="insecticide used">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="yeild" name="yeild" class="form-control" id="yeild" placeholder="Yeild Amount in Kg.">
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="retailer" name="retailer" class="form-control" id="retailer" placeholder="Sold To - Retailer Name">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="soldAmount" name="soldAmount" class="form-control" id="soldAmount" placeholder="Sold Amount">
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="reg-full-width">
            <input matInput type="text" [(ngModel)]="farmerName" name="farmerName" class="form-control" id="farmerName" placeholder="Farmer Name">
        </mat-form-field>
    </div>
      <div class="row">
          <mat-form-field class="reg-full-width">
              <input matInput type="text" [(ngModel)]="farmUserName" name="farmUserName" class="form-control" id="farmUserName" placeholder="Farmer UserName">
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="reg-full-width">
            <input matInput type="text" [(ngModel)]="season" name="season" class="form-control" id="season" placeholder="Season">
        </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Feed</button>
    </mat-card-actions>
  </form>
  </mat-card>
  </div>
