<div class="padded">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

    <form (submit)="onLoginSubmit()" layout-align="center center" class="form-card">
        <mat-card-content>
        <div class="row">
            <mat-form-field class="reg-full-width">
                <input matInput type="text" [(ngModel)]="username" name="username" class="form-control" id="username" placeholder="Enter UserName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="reg-full-width">
                <input matInput type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter Password">
            </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="button" type="submit">Login</button>
      </mat-card-actions>
    </form>
    </mat-card>
    </div>
