.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.reg-full-width {
  width: 100%;
}

@media (min-width: 576px) { 
  .form-card {
    min-width: 100px;
    max-width: 400px;
    width: 100%;
  }
 }
 @media (max-width: 991.98px) { 
  .form-card {
    min-width: 100px;
    max-width: 600px;
    width: 100%;
  }
  }

 
