<div class="padded">
    <mat-card class="info">
        <img mat-card-image src="assets/farm-home.jpg" alt="Photo of a Farmer">
        <mat-card-content>
          <h3 class="gray">Get Ready<br>To Step into the Future</h3>
            <p>By Modernizing our orthodox Argicultural methods by implementing the High quality Irrigational systems and agricultural practice provided by us along with various other technical services</p>
            <p>Some of our famous Irrigational services are</p>
                <ul>
                    <li>InTelli-Drip Irrigational System</li>
                    <li>Surround-Sprinkler Irrigational System</li>
                    <li>AquaField Irrigational System</li>
                </ul>
            <p>Subscribe to our Services, Modernize your Farm </p>
        </mat-card-content>
    </mat-card>
    <br>
            <mat-label><strong>Pave the Way</strong></mat-label>
    <mat-list>
            <mat-list-item><mat-icon>chrome_reader_mode</mat-icon>&ensp;About us </mat-list-item>
            <mat-list-item><mat-icon>build</mat-icon>&ensp;Services Provides </mat-list-item>
            <mat-list-item><mat-icon>add_shopping_cart</mat-icon>&ensp;Buy Stuff </mat-list-item>
            <mat-list-item><mat-icon>money</mat-icon>&ensp;Business</mat-list-item>
    </mat-list>
    <mat-action-row>
            <button class="button" mat-raised-button routerLink="/register">Register<mat-icon>&nbsp;person_add</mat-icon></button>&nbsp;
            <button class="button" mat-raised-button routerLink="/login">Login<mat-icon>&nbsp;near_me</mat-icon></button> 
        </mat-action-row>
    </div>
