<h2>Profile</h2>
<div class="padded">
      <mat-card *ngIf="user" class="example-card">
      <mat-card-header>
          <h2 *ngIf="accountType">Admin</h2>
        <mat-card-title>{{user.name}}({{user.accountType}})</mat-card-title></mat-card-header>
      <div class="grid-container">
        <div class="grid-item">User Name</div>
        <div class="grid-item">{{user.username}}</div>
        <div class="grid-item">Mobile Number</div>
        <div class="grid-item">{{user.mobile }}</div>
        <div class="grid-item">Email</div>
        <div class="grid-item">{{user.email}}</div>
        <div class="grid-item">Field no</div>
        <div class="grid-item">{{ user.fieldNo }}</div>
        <div class="grid-item">Field size</div>
        <div class="grid-item">{{ user.fieldSize }}&ensp;acre</div>
        <div class="grid-item">Door no</div>
        <div class="grid-item">{{ user.doorNo }}</div>
        <div class="grid-item">Street Name</div>
        <div class="grid-item">{{user.streetName}}</div>
        <div class="grid-item">Village </div>
        <div class="grid-item">{{user.village}}</div>
        <div class="grid-item">Taluk </div>
        <div class="grid-item">{{user.taluk}}</div>
        <div class="grid-item">District</div>
        <div class="grid-item">{{user.district}}</div>
        <div class="grid-item">State</div>
        <div class="grid-item">{{user.state}}</div>
        <div class="grid-item">Pin Code</div>
        <div class="grid-item">{{user.pincode}}</div>
      </div>
    </mat-card>
  </div>
