
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.3rem;
}
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.3rem;
    font-size: 0.9rem;
    text-align: left;
  }
  