<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
      <div class="bluee"><mat-toolbar class="bluee">Menu</mat-toolbar></div>
      <mat-nav-list>
        <a mat-list-item routerLink="/"><mat-icon>home</mat-icon>&ensp;Home</a>
        <a mat-list-item *ngIf="authService.isLoggedIn()" routerLink="/profile"><mat-icon>person</mat-icon>&ensp;Profile</a>
        <a mat-list-item *ngIf="authService.isLoggedIn()" routerLink="/dashboard"><mat-icon>person_pin</mat-icon>&ensp;Dashboard</a>
        <a mat-list-item *ngIf="authService.isLoggedIn()" routerLink="/farmDetails"><mat-icon>local_florist</mat-icon>&ensp;Farm Details</a>
        <mat-accordion>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    Account
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item *ngIf="!authService.isLoggedIn()" routerLink="/register">Register&ensp;<mat-icon>person_add</mat-icon></a>
                <a mat-list-item *ngIf="!authService.isLoggedIn()" routerLink="/login">Login&ensp;<mat-icon>near_me</mat-icon></a>
                <a mat-list-item *ngIf="authService.isLoggedIn()" (click)="onLogoutClick()">Logout&ensp;<mat-icon>trending_down</mat-icon></a>
              </mat-expansion-panel>
            </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>FarmIrrigate API</span>
        <span class="spacer"></span>
        <div class="navbar" *ngIf="!(isHandset$ | async)">
          <button mat-button (click)="onClick" [routerLinkActive]="['active']" routerLink="/">Home</button>
          <button mat-button *ngIf="authService.isLoggedIn()" (click)="onClick" [routerLinkActive]="['active']" routerLink="/farmDetails">Farm Details</button>
          <button mat-button *ngIf="authService.isLoggedIn()" (click)="onClick" [routerLinkActive]="['active']" routerLink="/dashboard">Dashboard</button>
          <button mat-button (click)="onClick" [routerLinkActive]="['active']" [matMenuTriggerFor]="menu">Account</button>
  
          <mat-menu #menu="matMenu">
              <button *ngIf="!authService.isLoggedIn()" routerLink="/register" mat-menu-item>Register</button>
              <button *ngIf="!authService.isLoggedIn()" routerLink="/login" mat-menu-item>Login</button>
              <button *ngIf="authService.isLoggedIn()" routerLink="/profile" mat-menu-item>Profile</button>
              <button *ngIf="authService.isLoggedIn()" href="#" (click)="onLogoutClick()" mat-menu-item>Logout</button>
            </mat-menu>
        </div>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  