.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  z-index: 5;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
}
.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.bluee
{
  background: #311b92;
  color:#fff;
}
