<h2 class="page-header">Farmer Details</h2>
<div class="padded">
  <mat-card *ngFor="let data of datum" class="return-card">
      <mat-card-header>
        <mat-card-title>Farmer Name: {{data.farmerName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
          Crop Name
          </mat-panel-title>
          <mat-panel-description>
              {{data.cropName}}
          </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Fertilizer Used : {{data.fertilizer}}</p>
          <p>Insecticide Used : {{data.insecticide}}</p>
          <p>Cultivated Area : {{data.cultiArea}}</p>
          <p>Cultivated Season : {{data.season}}</p>
          <p>Yeild : {{data.yeild}}</p>
          <p>Sold To Retailer : {{data.retailer}}</p>
          <p>Farmer User Name : {{data.farmUserName}}</p>
          </mat-expansion-panel>
          </mat-accordion>
      </mat-card-content>
    </mat-card>
    </div>
